<!DOCTYPE html>
<html lang="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{name | capitalize }} {{firstName | capitalize }} </h1>
    <p>Aujourd'hui on est le {{ "now" | date("d/m/Y") }}</p>
    <p>{{firstName | capitalize }} : est composé de {{firstName | length }} lettres</p>
</body>
</html>